/*body{
    width: 100%;
    background-image: url("/assets/images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}*/

html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #fff;
  }

h1 {
    text-align: center;
}

.participant{
    margin: 25vh 0 10vh;
}

.appell{
    margin: 5vh 0 20vh;
}

.destinataire{
    margin: 22vh 0;
}

.call{
    width: 30%;
    margin: 13vh auto 4vh;
    padding: 0 0 10vh;
    display: flex;
    flex-direction: row;
}

.decrocher{
    margin: auto;
    width: 22%;

}