

body{
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    color: white;
    margin: 0px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
  

#infos{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    width: 60%;
    margin: 5vh auto 9vh;
    border-radius: 10px;
    box-shadow: 0 15px 25px black;
}

#pfp{
    display: flex;
    align-self: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#pic {
    object-fit: cover;
    border-radius: 55%;
    max-width: 100px;
}