html{
    height: 100%;
}

body{
    background: linear-gradient(#141e30, #243b55);
    font-family: sans-serif;
    color: white;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}
  

#infos{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    border: white solid 1px;
}

#pfp{
    display: flex;
    align-self: center;
    background-color: black;
    border: 2px solid rgb(105, 146, 208);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#pic {
    object-fit: cover;
    border-radius: 55%;
    max-width: 100px;
}